html,body,table,thead,tr,th,td{
    margin:0;
    padding:0;
    font-family: "微软雅黑";
}
.tab{
    width:800px;
    margin:30px auto;
    border-collapse: collapse;
    text-align: center;
    color: #fff;
}
.tab thead th,.tab tbody td{
    width:200px;
    border:2px solid cadetblue;
}
.tab th{
    background:darkred;
    height:40px;
    font-size: 18px;
}
.tab td{
    height: 35px;
}
.bg1{
    background:yellow;
    color:black;
}
.bg2{
    background:black;
}
.rank{
    cursor: pointer;
}